@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --font: "Ubuntu", sans-serif;;
    --black: #160033;
    --white: rgb(238, 227, 227);
    --gradient: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    --shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
  
* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font);
    letter-spacing: 0.1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 85%;
  top: 0;
  box-shadow: var(--shadow);
}

header, main {
  padding: 10px 150px 10px 150px;
}

h2 {
  font-size: 30px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(243, 235, 235);
}

a:hover {
  opacity: 0.8;
}